<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">
    <title>Template Expanding Directive</title>
  </head>
  <body>
    <h1>Template Expanding Directive</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list1" ng-controller='ShoppingListController1 as list1'>
      <h3>Shopping List #1</h3>
      <input type="text" ng-model="list1.itemName" placeholder="item name">
      <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
      <button class="button-primary" ng-click="list1.addItem();">Add Item</button>
      
      <shopping-list my-list="list1"></shopping-list>
      <div ng-if="list1.errorMessage" class="error">Error: {{list1.errorMessage}}</div>
    </div>

    <!-- LIST #2 (limited to 3 items) -->
    <div id="list2" ng-controller='ShoppingListController2 as list2'>
      <h3>Shopping List #2 (limited to 3 items)</h3>
      <input type="text" ng-model="list2.itemName" placeholder="item name">
      <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
      <button class="button-primary" ng-click="list2.addItem();">Add Item</button>
      
      <shopping-list my-list="list2"></shopping-list>
      <div ng-if="list2.errorMessage" class="error">Error: {{list2.errorMessage}}</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
